# Build #
#########
MANIFEST.MF
dependency-reduced-pom.xml

# Compiled #
############
bin
build
dist
lib
out
target
*.com
*.class
*.dll
*.exe
*.o
*.so

# Databases #
#############
*.db
*.sql
*.sqlite

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Repository #
##############
.git

# Logging #
###########
/logs
*.log

# Misc #
########
*.bak

# System #
##########
.DS_Store
ehthumbs.db
Thumbs.db

# Project #
###########
.classpath
.externalToolBuilders
.idea
.project
.settings
nbproject
atlassian-ide-plugin.xml
build.xml
nb-configuration.xml
*.iml
*.ipr
*.iws

# Runtime #
###########
/cache
/config
/data
/natives
/plugins
/resources
/update
/updates
/worlds
