/*
 * This file is part of Spout.
 *
 * Copyright (c) 2011 Spout LLC <http://www.spout.org/>
 * Spout is licensed under the Spout License Version 1.
 *
 * Spout is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option)
 * any later version.
 *
 * In addition, 180 days after any changes are published, you can use the
 * software, incorporating those changes, under the terms of the MIT license,
 * as described in the Spout License Version 1.
 *
 * Spout is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License,
 * the MIT license and the Spout License Version 1 along with this program.
 * If not, see <http://www.gnu.org/licenses/> for the GNU Lesser General Public
 * License and see <http://spout.in/licensev1> for the full license, including
 * the MIT license.
 */
package org.spout.math.test.matrix;

import static org.spout.math.test.TestUtil#E#.SQRT13;

import org.junit.Assert;
import org.junit.Test;

import org.spout.math.imaginary.Complex#E#;
import org.spout.math.imaginary.Quaternion#E#;
import org.spout.math.matrix.Matrix2#E#;
import org.spout.math.matrix.Matrix3#E#;
import org.spout.math.matrix.Matrix4#E#;
import org.spout.math.matrix.MatrixN#E#;
import org.spout.math.test.TestUtil#E#;
import org.spout.math.vector.Vector2#E#;
import org.spout.math.vector.Vector3#E#;

public class Matrix3#E#Test {
	@Test
	public void testDefaultConstructor() {
		Matrix3#E# matrix = new Matrix3#E#();
		TestUtil#E#.assertEquals(matrix, 1, 0, 0, 0, 1, 0, 0, 0, 1);
	}

	@Test
	public void testCopyMatrix2Constructor() {
		Matrix3#E# matrix = new Matrix3#E#(new Matrix2#E#(1, 2, 3, 4));
		TestUtil#E#.assertEquals(matrix, 1, 2, 0, 3, 4, 0, 0, 0, 0);
	}

	@Test
	public void testCopyMatrix3Constructor() {
		Matrix3#E# matrix = new Matrix3#E#(new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9));
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 4, 5, 6, 7, 8, 9);
	}

	@Test
	public void testCopyMatrix4Constructor() {
		Matrix3#E# matrix = new Matrix3#E#(new Matrix4#E#(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16));
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 5, 6, 7, 9, 10, 11);
	}

	@Test
	public void testCopyMatrixNConstructor() {
		Matrix3#E# matrix = new Matrix3#E#(new MatrixN#E#(1, 2, 3, 4, 5, 6, 7, 8, 9));
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 4, 5, 6, 7, 8, 9);
	}

	@Test
	public void testDoubleComponentsConstructor() {
		Matrix3#E# matrix = new Matrix3#E#(1d, 2d, 3d, 4d, 5d, 6d, 7d, 8d, 9d);
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 4, 5, 6, 7, 8, 9);
	}

	@Test
	public void testFloatComponentsConstructor() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9);
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 4, 5, 6, 7, 8, 9);
	}

	@Test
	public void testGetter() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9);
		TestUtil#E#.assertEquals(matrix.get(0, 0), 1);
		TestUtil#E#.assertEquals(matrix.get(0, 1), 2);
		TestUtil#E#.assertEquals(matrix.get(0, 2), 3);
		TestUtil#E#.assertEquals(matrix.get(1, 0), 4);
		TestUtil#E#.assertEquals(matrix.get(1, 1), 5);
		TestUtil#E#.assertEquals(matrix.get(1, 2), 6);
		TestUtil#E#.assertEquals(matrix.get(2, 0), 7);
		TestUtil#E#.assertEquals(matrix.get(2, 1), 8);
		TestUtil#E#.assertEquals(matrix.get(2, 2), 9);
	}

	@Test
	public void testRowGetter() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9);
		TestUtil#E#.assertEquals(matrix.getRow(0), 1, 2, 3);
		TestUtil#E#.assertEquals(matrix.getRow(1), 4, 5, 6);
		TestUtil#E#.assertEquals(matrix.getRow(2), 7, 8, 9);
	}

	@Test
	public void testColumnGetter() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9);
		TestUtil#E#.assertEquals(matrix.getColumn(0), 1, 4, 7);
		TestUtil#E#.assertEquals(matrix.getColumn(1), 2, 5, 8);
		TestUtil#E#.assertEquals(matrix.getColumn(2), 3, 6, 9);
	}

	@Test
	public void testMatrix3Addition() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).add(new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9));
		TestUtil#E#.assertEquals(matrix, 2, 4, 6, 8, 10, 12, 14, 16, 18);
	}

	@Test
	public void testMatrix3Subtraction() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).sub(new Matrix3#E#(0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5));
		TestUtil#E#.assertEquals(matrix, (#e#) 0.5, 1, (#e#) 1.5, 2, (#e#) 2.5, 3, (#e#) 3.5, 4, (#e#) 4.5);
	}

	@Test
	public void testFloatFactorMultiplication() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).mul(2);
		TestUtil#E#.assertEquals(matrix, 2, 4, 6, 8, 10, 12, 14, 16, 18);
	}

	@Test
	public void testDoubleFactorMultiplication() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).mul(2d);
		TestUtil#E#.assertEquals(matrix, 2, 4, 6, 8, 10, 12, 14, 16, 18);
	}

	@Test
	public void testMatrix3Multiplication() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).mul(new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1));
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 4, 5, 6, 7, 8, 9);
	}

	@Test
	public void testFloatFactorDivision() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).div(2);
		TestUtil#E#.assertEquals(matrix, (#e#) 0.5, 1, (#e#) 1.5, 2, (#e#) 2.5, 3, (#e#) 3.5, 4, (#e#) 4.5);
	}

	@Test
	public void testDoubleFactorDivision() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).div(2d);
		TestUtil#E#.assertEquals(matrix, (#e#) 0.5, 1, (#e#) 1.5, 2, (#e#) 2.5, 3, (#e#) 3.5, 4, (#e#) 4.5);
	}

	@Test
	public void testMatrix3Division() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).div(new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1));
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 4, 5, 6, 7, 8, 9);
	}

	@Test
	public void testRaiseToFloatPower() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).pow(2);
		TestUtil#E#.assertEquals(matrix, 1, 4, 9, 16, 25, 36, 49, 64, 81);
	}

	@Test
	public void testRaiseToDoublePower() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).pow(2d);
		TestUtil#E#.assertEquals(matrix, 1, 4, 9, 16, 25, 36, 49, 64, 81);
	}

	@Test
	public void testTranslateVector2() {
		Matrix3#E# matrix = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).translate(new Vector2#E#(1, 0));
		TestUtil#E#.assertEquals(matrix, 1, 0, 1, 0, 1, 0, 0, 0, 1);
	}

	@Test
	public void testTranslateFloatComponents() {
		Matrix3#E# matrix = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).translate(1, 0);
		TestUtil#E#.assertEquals(matrix, 1, 0, 1, 0, 1, 0, 0, 0, 1);
	}

	@Test
	public void testScaleFloatFactor() {
		Matrix3#E# matrix = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).scale(2);
		TestUtil#E#.assertEquals(matrix, 2, 0, 0, 0, 2, 0, 0, 0, 2);
	}

	@Test
	public void testScaleVector3() {
		Matrix3#E# matrix = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).scale(new Vector3#E#(2, 2, 2));
		TestUtil#E#.assertEquals(matrix, 2, 0, 0, 0, 2, 0, 0, 0, 2);
	}

	@Test
	public void testScaleFloatComponents() {
		Matrix3#E# matrix = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).scale(2d);
		TestUtil#E#.assertEquals(matrix, 2, 0, 0, 0, 2, 0, 0, 0, 2);
	}

	@Test
	public void testRotateComplex() {
		Matrix3#E# matrix = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).rotate(new Complex#E#(2, 3));
		TestUtil#E#.assertEquals(matrix,
                (#e#) (2/SQRT13), (#e#) (-3/SQRT13), 0,
                (#e#) (3/SQRT13), (#e#) (2/SQRT13), 0,
                0, 0, 1);
	}

	@Test
	public void testRotateQuaternion() {
		Matrix3#E# matrix = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).rotate(new Quaternion#E#(4, 3, 2, 0));
		TestUtil#E#.assertEquals(matrix,
                (#e#) (3/29d), (#e#) (24/29d), (#e#) (16/29d),
                (#e#) (24/29d), (#e#) (-11/29d), (#e#) (12/29d),
                (#e#) (16/29d), (#e#) (12/29d), (#e#) (-21/29d));
	}

	@Test
	public void testTransformVector3() {
		Vector3#E# vector = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).scale(2, 3, 1).translate(4, 5).transform(new Vector3#E#(3, 2, 1));
		TestUtil#E#.assertEquals(vector, 10, 11, 1);
	}

	@Test
	public void testTransformFloatComponents() {
		Vector3#E# vector = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).scale(2, 3, 1).translate(4, 5).transform(3, 2, 1);
		TestUtil#E#.assertEquals(vector, 10, 11, 1);
	}

	@Test
	public void testFloor() {
		Matrix3#E# matrix = new Matrix3#E#(1.1, 2.9, 3.5, -1.1, -2.5, -3.9, -4.2, 1.4, 8.6).floor();
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, -2, -3, -4, -5, 1, 8);
	}

	@Test
	public void testCeiling() {
		Matrix3#E# matrix = new Matrix3#E#(1.1, 2.9, 3.5, -1.1, -2.5, -3.9, -4.2, 1.4, 8.6).ceil();
		TestUtil#E#.assertEquals(matrix, 2, 3, 4, -1, -2, -3, -4, 2, 9);
	}

	@Test
	public void testRound() {
		Matrix3#E# matrix = new Matrix3#E#(1.1, 2.9, 3.5, -1.1, -2.5, -3.9, -4.2, 1.4, 8.6).round();
		TestUtil#E#.assertEquals(matrix, 1, 3, 4, -1, -2, -4, -4, 1, 9);
	}

	@Test
	public void testAbsolute() {
		Matrix3#E# matrix1 = new Matrix3#E#(-1, -1, -1, -1, -1, -1, -1, -1, -1).abs();
		TestUtil#E#.assertEquals(matrix1, 1, 1, 1, 1, 1, 1, 1, 1, 1);
		Matrix3#E# matrix2 = new Matrix3#E#(1, 1, 1, 1, 1, 1, 1, 1, 1).abs();
		TestUtil#E#.assertEquals(matrix2, 1, 1, 1, 1, 1, 1, 1, 1, 1);
	}

	@Test
	public void testNegate() {
		Matrix3#E# matrix = new Matrix3#E#(-1, 1, -1, 1, -1, 1, -1, 1, -1).negate();
		TestUtil#E#.assertEquals(matrix, 1, -1, 1, -1, 1, -1, 1, -1, 1);
	}

	@Test
	public void testTranspose() {
		Matrix3#E# matrix = new Matrix3#E#(0, 1, 2, 3, 4, 5, 6, 7, 8).transpose();
		TestUtil#E#.assertEquals(matrix, 0, 3, 6, 1, 4, 7, 2, 5, 8);
	}

	@Test
	public void testTrace() {
		#e# f = new Matrix3#E#(0, 1, 2, 3, 4, 5, 6, 7, 8).trace();
		TestUtil#E#.assertEquals(f, 12);
	}

	@Test
	public void testDeterminant() {
		#e# f = new Matrix3#E#(0, 1, 2, 3, 4, 5, 6, 7, 8).determinant();
		TestUtil#E#.assertEquals(f, 0);
	}

	@Test
	public void testInvert() {
		Matrix3#E# matrix1 = new Matrix3#E#(0, 1, 2, 3, 4, 5, 6, 7, 8).invert();
		Assert.assertEquals(matrix1, null);
		Matrix3#E# matrix2 = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).invert();
		TestUtil#E#.assertEquals(matrix2, 1, 0, 0, 0, 1, 0, 0, 0, 1);
		Matrix3#E# matrix3 = new Matrix3#E#(
                1, 2, 3,
                3, 1, 2,
                2, 3, 1)
                .invert();
		TestUtil#E#.assertEquals(matrix3,
                (#e#) (-5/18d), (#e#) (7/18d), (#e#) (1/18d),
                (#e#) (1/18d), (#e#) (-5/18d), (#e#) (7/18d),
                (#e#) (7/18d), (#e#) (1/18d), (#e#) (-5/18d));
/*				-0.2777777777f, 0.3888888888f, 0.0555555555f,
				0.0555555555f, -0.2777777777f, 0.3888888888f,
				0.3888888888f, 0.0555555555f, -0.2777777777f);*/
        }

	@Test
	public void testConvertToMatrix2() {
		Matrix2#E# matrix = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).toMatrix2();
		TestUtil#E#.assertEquals(matrix, 1, 0, 0, 1);
	}

	@Test
	public void testConvertToMatrix4() {
		Matrix4#E# matrix = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).toMatrix4();
		TestUtil#E#.assertEquals(matrix, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0);
	}

	@Test
	public void testConvertToMatrixN() {
		MatrixN#E# matrix = new Matrix3#E#(1, 0, 0, 0, 1, 0, 0, 0, 1).toMatrixN();
		TestUtil#E#.assertEquals(matrix, 1, 0, 0, 0, 1, 0, 0, 0, 1);
	}

	@Test
	public void testConvertToArrayRowMajorDefault() {
		#e#[] array = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).toArray(true);
		TestUtil#E#.assertEquals(array, 1, 4, 7, 2, 5, 8, 3, 6, 9);
	}

	@Test
	public void testConvertToArray() {
		#e#[] array = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).toArray();
		TestUtil#E#.assertEquals(array, 1, 2, 3, 4, 5, 6, 7, 8, 9);
	}

	@Test
	public void testEquals() {
		Assert.assertTrue(new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).equals(new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9)));
		Assert.assertFalse(new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9).equals(new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 0)));
	}

	@Test
	public void testCloning() {
		Matrix3#E# matrix = new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9);
		Assert.assertEquals(matrix, matrix.clone());
	}

	@Test
	public void testCreateFromScalingDoubleFactor() {
		Matrix3#E# matrix = Matrix3#E#.createScaling(2d);
		TestUtil#E#.assertEquals(matrix, 2, 0, 0, 0, 2, 0, 0, 0, 2);
	}

	@Test
	public void testCreateFromScalingFloatFactor() {
		Matrix3#E# matrix = Matrix3#E#.createScaling(2);
		TestUtil#E#.assertEquals(matrix, 2, 0, 0, 0, 2, 0, 0, 0, 2);
	}

	@Test
	public void testCreateFromScalingVector3() {
		Matrix3#E# matrix = Matrix3#E#.createScaling(new Vector3#E#(1, 2, 3));
		TestUtil#E#.assertEquals(matrix, 1, 0, 0, 0, 2, 0, 0, 0, 3);
	}

	@Test
	public void testCreateFromScalingFloatComponents() {
		Matrix3#E# matrix = Matrix3#E#.createScaling(1, 2, 3);
		TestUtil#E#.assertEquals(matrix, 1, 0, 0, 0, 2, 0, 0, 0, 3);
	}

	@Test
	public void testCreateTranslationVector2() {
		Matrix3#E# matrix1 = Matrix3#E#.createTranslation(new Vector2#E#(1, 0));
		TestUtil#E#.assertEquals(matrix1, 1, 0, 1, 0, 1, 0, 0, 0, 1);
		Matrix3#E# matrix2 = Matrix3#E#.createTranslation(new Vector2#E#(0, 1));
		TestUtil#E#.assertEquals(matrix2, 1, 0, 0, 0, 1, 1, 0, 0, 1);
	}

	@Test
	public void testCreateTranslationFloatComponents() {
		Matrix3#E# matrix1 = Matrix3#E#.createTranslation(1, 0);
		TestUtil#E#.assertEquals(matrix1, 1, 0, 1, 0, 1, 0, 0, 0, 1);
		Matrix3#E# matrix2 = Matrix3#E#.createTranslation(0, 1);
		TestUtil#E#.assertEquals(matrix2, 1, 0, 0, 0, 1, 1, 0, 0, 1);
	}

	@Test
	public void testCreateRotationFromComplex() {
		Matrix3#E# matrix = Matrix3#E#.createRotation(new Complex#E#(2, 3));
		TestUtil#E#.assertEquals(matrix,
                (#e#) (2/SQRT13), (#e#) (-3/SQRT13), 0,
                (#e#) (3/SQRT13), (#e#) (2/SQRT13), 0,
                0, 0, 1);
	}

	@Test
	public void testCreateRotationFromQuaternion() {
		Matrix3#E# matrix = Matrix3#E#.createRotation(new Quaternion#E#(4, 3, 2, 0));
		TestUtil#E#.assertEquals(matrix,
                (#e#) (3/29d), (#e#) (24/29d), (#e#) (16/29d),
                (#e#) (24/29d), (#e#) (-11/29d), (#e#) (12/29d),
                (#e#) (16/29d), (#e#) (12/29d), (#e#) (-21/29d));

	}
}
