/*
 * This file is part of Spout.
 *
 * Copyright (c) 2011 Spout LLC <http://www.spout.org/>
 * Spout is licensed under the Spout License Version 1.
 *
 * Spout is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option)
 * any later version.
 *
 * In addition, 180 days after any changes are published, you can use the
 * software, incorporating those changes, under the terms of the MIT license,
 * as described in the Spout License Version 1.
 *
 * Spout is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License,
 * the MIT license and the Spout License Version 1 along with this program.
 * If not, see <http://www.gnu.org/licenses/> for the GNU Lesser General Public
 * License and see <http://spout.in/licensev1> for the full license, including
 * the MIT license.
 */
package org.spout.math.test.matrix;

import static org.spout.math.test.TestUtil#E#.SQRT13;

import org.junit.Assert;
import org.junit.Test;

import org.spout.math.imaginary.Complex#E#;
import org.spout.math.matrix.Matrix2#E#;
import org.spout.math.matrix.Matrix3#E#;
import org.spout.math.matrix.Matrix4#E#;
import org.spout.math.matrix.MatrixN#E#;
import org.spout.math.test.TestUtil#E#;
import org.spout.math.vector.Vector2#E#;

public class Matrix2#E#Test {
	@Test
	public void testDefaultConstructor() {
		Matrix2#E# matrix = new Matrix2#E#();
		TestUtil#E#.assertEquals(matrix, 1, 0, 0, 1);
	}

	@Test
	public void testCopyMatrix2Constructor() {
		Matrix2#E# matrix = new Matrix2#E#(new Matrix2#E#(1, 2, 3, 4));
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 4);
	}

	@Test
	public void testCopyMatrix3Constructor() {
		Matrix2#E# matrix = new Matrix2#E#(new Matrix3#E#(1, 2, 3, 4, 5, 6, 7, 8, 9));
		TestUtil#E#.assertEquals(matrix, 1, 2, 4, 5);
	}

	@Test
	public void testCopyMatrix4Constructor() {
		Matrix2#E# matrix = new Matrix2#E#(new Matrix4#E#(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16));
		TestUtil#E#.assertEquals(matrix, 1, 2, 5, 6);
	}

	@Test
	public void testCopyMatrixNConstructor() {
		Matrix2#E# matrix = new Matrix2#E#(new MatrixN#E#(1, 2, 3, 4));
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 4);
	}

	@Test
	public void testDoubleComponentsConstructor() {
		Matrix2#E# matrix = new Matrix2#E#(1d, 2d, 3d, 4d);
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 4);
	}

	@Test
	public void testFloatComponentsConstructor() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4);
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 4);
	}

	@Test
	public void testGetter() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4);
		TestUtil#E#.assertEquals(matrix.get(0, 0), 1);
		TestUtil#E#.assertEquals(matrix.get(0, 1), 2);
		TestUtil#E#.assertEquals(matrix.get(1, 0), 3);
		TestUtil#E#.assertEquals(matrix.get(1, 1), 4);
	}

	@Test
	public void testRowGetter() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4);
		TestUtil#E#.assertEquals(matrix.getRow(0), 1, 2);
		TestUtil#E#.assertEquals(matrix.getRow(1), 3, 4);
	}

	@Test
	public void testColumnGetter() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4);
		TestUtil#E#.assertEquals(matrix.getColumn(0), 1, 3);
		TestUtil#E#.assertEquals(matrix.getColumn(1), 2, 4);
	}

	@Test
	public void testMatrix2Addition() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4).add(new Matrix2#E#(1, 2, 3, 4));
		TestUtil#E#.assertEquals(matrix, 2, 4, 6, 8);
	}

	@Test
	public void testMatrix2Subtraction() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4).sub(new Matrix2#E#(1, 2, 3, 4));
		TestUtil#E#.assertEquals(matrix, 0, 0, 0, 0);
	}

	@Test
	public void testFloatFactorMultiplication() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4).mul(2f);
		TestUtil#E#.assertEquals(matrix, 2, 4, 6, 8);
	}

	@Test
	public void testDoubleFactorMultiplication() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4).mul(2d);
		TestUtil#E#.assertEquals(matrix, 2, 4, 6, 8);
	}

	@Test
	public void testMatrix2Multiplication() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4).mul(new Matrix2#E#(1, 0, 0, 1));
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 4);
	}

	@Test
	public void testFloatFactorDivision() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4).div(0.5f);
		TestUtil#E#.assertEquals(matrix, 2, 4, 6, 8);
	}

	@Test
	public void testDoubleFactorDivision() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4).div(0.5);
		TestUtil#E#.assertEquals(matrix, 2, 4, 6, 8);
	}

	@Test
	public void testMatrix2Division() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4).mul(new Matrix2#E#(1, 0, 0, 1));
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, 4);
	}

	@Test
	public void testRaiseToFloatPower() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4).pow(2f);
		TestUtil#E#.assertEquals(matrix, 1, 4, 9, 16);
	}

	@Test
	public void testRaiseToDoublePower() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4).pow(2d);
		TestUtil#E#.assertEquals(matrix, 1, 4, 9, 16);
	}

	@Test
	public void testTranslateFloatDistance() {
		Matrix2#E# matrix = new Matrix2#E#(1, 0, 0, 1).translate(5f);
		TestUtil#E#.assertEquals(matrix, 1, 5, 0, 1);
	}

	@Test
	public void testScaleDoubleFactor() {
		Matrix2#E# matrix = new Matrix2#E#(1, 0, 0, 1).scale(2.5);
		TestUtil#E#.assertEquals(matrix, (#e#) 2.5, 0, 0, (#e#) 2.5);
	}

	@Test
	public void testScaleFloatFactor() {
		Matrix2#E# matrix = new Matrix2#E#(1, 0, 0, 1).scale(2.5f);
		TestUtil#E#.assertEquals(matrix, (#e#) 2.5, 0, 0, (#e#) 2.5);
	}

	@Test
	public void testScaleVector2() {
		Matrix2#E# matrix = new Matrix2#E#(1, 0, 0, 1).scale(new Vector2#E#(2, 3));
		TestUtil#E#.assertEquals(matrix, 2, 0, 0, 3);
	}

	@Test
	public void testScaleFloatComponents() {
		Matrix2#E# matrix = new Matrix2#E#(1, 0, 0, 1).scale(2, 3);
		TestUtil#E#.assertEquals(matrix, 2, 0, 0, 3);
	}

	@Test
	public void testRotateComplex() {
		Matrix2#E# matrix = new Matrix2#E#(1, 0, 0, 1).rotate(new Complex#E#(0, 1));
		TestUtil#E#.assertEquals(matrix, 0, -1, 1, 0);
	}

	@Test
	public void testTransformVector2() {
		Vector2#E# vector = new Matrix2#E#(1, 0, 0, 1).scale(2, 1).translate(4).transform(new Vector2#E#(3, 1));
		TestUtil#E#.assertEquals(vector, 10, 1);
	}

	@Test
	public void testTransformFloatComponents() {
		Vector2#E# vector = new Matrix2#E#(1, 0, 0, 1).scale(2, 1).translate(4).transform(3, 1);
		TestUtil#E#.assertEquals(vector, 10, 1);
	}

	@Test
	public void testFloor() {
		Matrix2#E# matrix = new Matrix2#E#(1.1, 2.5, 3.9, -4.8).floor();
		TestUtil#E#.assertEquals(matrix, 1, 2, 3, -5);
	}

	@Test
	public void testCeiling() {
		Matrix2#E# matrix = new Matrix2#E#(1.1, 2.5, 3.9, -4.8).ceil();
		TestUtil#E#.assertEquals(matrix, 2, 3, 4, -4);
	}

	@Test
	public void testRound() {
		Matrix2#E# matrix = new Matrix2#E#(1.1, 2.5, 3.9, -4.8).round();
		TestUtil#E#.assertEquals(matrix, 1, 3, 4, -5);
	}

	@Test
	public void testAbsolute() {
		Matrix2#E# matrix = new Matrix2#E#(1.1, 2.5, 3.9, -4.8).abs();
		TestUtil#E#.assertEquals(matrix, (#e#) 1.1, (#e#) 2.5, (#e#) 3.9, (#e#) 4.8);
	}

	@Test
	public void testNegate() {
		Matrix2#E# matrix = new Matrix2#E#(1.1, 2.5, 3.9, -4.8).negate();
		TestUtil#E#.assertEquals(matrix, (#e#) -1.1, (#e#) -2.5, (#e#) -3.9, (#e#) 4.8);
	}

	@Test
	public void testTranspose() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4).transpose();
		TestUtil#E#.assertEquals(matrix, 1, 3, 2, 4);
	}

	@Test
	public void testTrace() {
		#e# f = new Matrix2#E#(1, 2, 3, 4).trace();
		TestUtil#E#.assertEquals(f, 5);
	}

	@Test
	public void testDeterminant() {
		#e# f = new Matrix2#E#(1, 2, 3, 4).determinant();
		TestUtil#E#.assertEquals(f, -2);
	}

	@Test
	public void testInvert() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4).invert();
		TestUtil#E#.assertEquals(matrix, -2, 1, (#e#) 1.5, (#e#) -0.5);
	}

	@Test
	public void testConvertToMatrix3() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4);
		TestUtil#E#.assertEquals(matrix.toMatrix3(), 1, 2, 0, 3, 4, 0, 0, 0, 0);
	}

	@Test
	public void testConvertToMatrix4() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4);
		TestUtil#E#.assertEquals(matrix.toMatrix4(), 1, 2, 0, 0, 3, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0);
	}

	@Test
	public void testConvertToMatrixN() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4);
		TestUtil#E#.assertEquals(matrix.toMatrixN(), 1, 2, 3, 4);
	}

	@Test
	public void testConvertToArrayRowMajorDefault() {
		#e#[] array = new Matrix2#E#(1, 2, 3, 4).toArray(true);
		TestUtil#E#.assertEquals(array, 1, 3, 2, 4);
	}

	@Test
	public void testConvertToArray() {
		#e#[] array = new Matrix2#E#(1, 2, 3, 4).toArray();
		TestUtil#E#.assertEquals(array, 1, 2, 3, 4);
	}

	@Test
	public void testEquals() {
		Assert.assertTrue(new Matrix2#E#(1, 2, 3, 4).equals(new Matrix2#E#(1, 2, 3, 4)));
		Assert.assertFalse(new Matrix2#E#(1, 2, 3, 4).equals(new Matrix2#E#(1, 2, 3, 5)));
	}

	@Test
	public void testCloning() {
		Matrix2#E# matrix = new Matrix2#E#(1, 2, 3, 4);
		Assert.assertEquals(matrix, matrix.clone());
	}

	@Test
	public void testCreateFromScalingDoubleFactor() {
		Matrix2#E# matrix = Matrix2#E#.createScaling(2d);
		TestUtil#E#.assertEquals(matrix, 2, 0, 0, 2);
	}

	@Test
	public void testCreateFromScalingFloatFactor() {
		Matrix2#E# matrix = Matrix2#E#.createScaling(2);
		TestUtil#E#.assertEquals(matrix, 2, 0, 0, 2);
	}

	@Test
	public void testCreateFromScalingVector2() {
		Matrix2#E# matrix = Matrix2#E#.createScaling(new Vector2#E#(2, 1.5));
		TestUtil#E#.assertEquals(matrix, 2, 0, 0, (#e#) 1.5);
	}

	@Test
	public void testCreateFromScaling#ES#Components() {
		Matrix2#E# matrix = Matrix2#E#.createScaling(2, (#e#) 1.5);
		TestUtil#E#.assertEquals(matrix, 2, 0, 0, (#e#) 1.5);
	}

	@Test
	public void testCreateTranslationFrom#ES#Distance() {
		Matrix2#E# matrix = Matrix2#E#.createTranslation((#e#) 5d);
		TestUtil#E#.assertEquals(matrix, 1, 5, 0, 1);
	}

	@Test
	public void testCreateRotationFromComplex() {
		Matrix2#E# matrix = Matrix2#E#.createRotation(new Complex#E#(2, 3));
		TestUtil#E#.assertEquals(matrix,
                (#e#) (2/SQRT13), (#e#) (-3/SQRT13),
                (#e#) (3/SQRT13), (#e#) (2/SQRT13));
	}
}
