/*
 * This file is part of Spout.
 *
 * Copyright (c) 2011 Spout LLC <http://www.spout.org/>
 * Spout is licensed under the Spout License Version 1.
 *
 * Spout is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option)
 * any later version.
 *
 * In addition, 180 days after any changes are published, you can use the
 * software, incorporating those changes, under the terms of the MIT license,
 * as described in the Spout License Version 1.
 *
 * Spout is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License,
 * the MIT license and the Spout License Version 1 along with this program.
 * If not, see <http://www.gnu.org/licenses/> for the GNU Lesser General Public
 * License and see <http://spout.in/licensev1> for the full license, including
 * the MIT license.
 */
package org.spout.math.test.vector;

import java.util.Random;

import org.junit.Assert;
import org.junit.Test;

import org.spout.math.test.TestUtil#E#;
import org.spout.math.test.TestUtili;
import org.spout.math.vector.Vector2#E#;
import org.spout.math.vector.Vector3#E#;
import org.spout.math.vector.Vector4#E#;
import org.spout.math.vector.VectorN#E#;

public class Vector2#E#Test {
	@Test
	public void testEmptyConstructor() {
		Vector2#E# vector = new Vector2#E#();
		TestUtil#E#.assertEquals(vector, (#e#) 0, (#e#) 0);
	}

	@Test
	public void testCopyVector2Constructor() {
		Vector2#E# vector = new Vector2#E#(new Vector2#E#(0, 1));
		TestUtil#E#.assertEquals(vector, (#e#) 0, (#e#) 1);
	}

	@Test
	public void testCopyVector3Constructor() {
		Vector2#E# vector = new Vector2#E#(new Vector3#E#(0, 1, 2));
		TestUtil#E#.assertEquals(vector, (#e#) 0, (#e#) 1);
	}

	@Test
	public void testCopyVector4Constructor() {
		Vector2#E# vector = new Vector2#E#(new Vector4#E#(0, 1, 2, 3));
		TestUtil#E#.assertEquals(vector, (#e#) 0, (#e#) 1);
	}

	@Test
	public void testCopyVectorNConstructor() {
		Vector2#E# vector = new Vector2#E#(new VectorN#E#(0, 1, 2, 3, 4));
		TestUtil#E#.assertEquals(vector, (#e#) 0, (#e#) 1);
	}

	@Test
	public void testDoubleComponentsConstructor() {
		Vector2#E# vector = new Vector2#E#(0.5, 1.7);
		TestUtil#E#.assertEquals(vector, (#e#) 0, (#e#) 1);
	}

	@Test
	public void test#ES#ComponentsConstructor() {
		Vector2#E# vector = new Vector2#E#((#e#) 1, (#e#) 3);
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 3);
	}

	@Test
	public void testGetters() {
		Vector2#E# vector = new Vector2#E#(1, 3);
		TestUtil#E#.assertEquals(vector.getX(), (#e#) 1);
		TestUtil#E#.assertEquals(vector.getY(), (#e#) 3);
	}

	@Test
	public void testVector2Addition() {
		Vector2#E# vector = new Vector2#E#(1, 3).add(new Vector2#E#(5, -1));
		TestUtil#E#.assertEquals(vector, (#e#) 6, (#e#) 2);
	}

	@Test
	public void testDoubleComponentsAddition() {
		Vector2#E# vector = new Vector2#E#(1, 3).add(5.5, -1.5);
		TestUtil#E#.assertEquals(vector, (#e#) 6, (#e#) 2);
	}

	@Test
	public void test#ES#ComponentsAddition() {
		Vector2#E# vector = new Vector2#E#(1, 3).add(5, -1);
		TestUtil#E#.assertEquals(vector, (#e#) 6, (#e#) 2);
	}

	@Test
	public void testVector2Subtraction() {
		Vector2#E# vector = new Vector2#E#(10, 5).sub(new Vector2#E#(13, 4));
		TestUtil#E#.assertEquals(vector, (#e#) -3, (#e#) 1);
	}

	@Test
	public void testDoubleComponentsSubtraction() {
		Vector2#E# vector = new Vector2#E#(10, 5).sub(13, 4);
		TestUtil#E#.assertEquals(vector, (#e#) -3, (#e#) 1);
	}

	@Test
	public void test#ES#ComponentsSubtraction() {
		Vector2#E# vector = new Vector2#E#(10, 5).sub(13f, 4.5f);
		TestUtil#E#.assertEquals(vector, (#e#) -3, (#e#) 1);
	}

	@Test
	public void testDoubleFactorMultiplication() {
		Vector2#E# vector = new Vector2#E#(2, 3).mul(2.5);
		TestUtil#E#.assertEquals(vector, (#e#) 4, (#e#) 6);
	}

	@Test
	public void test#ES#FactorMultiplication() {
		Vector2#E# vector = new Vector2#E#(2, 3).mul((#e#) 3);
		TestUtil#E#.assertEquals(vector, (#e#) 6, (#e#) 9);
	}

	@Test
	public void testVector2Multiplication() {
		Vector2#E# vector = new Vector2#E#(2, 3).mul(new Vector2#E#(5, 2));
		TestUtil#E#.assertEquals(vector, (#e#) 10, (#e#) 6);
	}

	@Test
	public void testDoubleComponentsMultiplication() {
		Vector2#E# vector = new Vector2#E#(2, 3).mul(1.5, 2.5);
		TestUtil#E#.assertEquals(vector, (#e#) 2, (#e#) 6);
	}

	@Test
	public void test#ES#ComponentsMultiplication() {
		Vector2#E# vector = new Vector2#E#(2, 3).mul((#e#) 5, (#e#) 2);
		TestUtil#E#.assertEquals(vector, (#e#) 10, (#e#) 6);
	}

	@Test
	public void testDoubleFactorDivision() {
		Vector2#E# vector = new Vector2#E#(2, 5).div(2d);
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 2);
	}

	@Test
	public void test#ES#FactorDivision() {
		Vector2#E# vector = new Vector2#E#(2, 6).div((#e#) 2);
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 3);
	}

	@Test
	public void testVector2Division() {
		Vector2#E# vector = new Vector2#E#(2, 7).div(new Vector2#E#(2, 3));
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 2);
	}

	@Test
	public void testDoubleComponentsDivision() {
		Vector2#E# vector = new Vector2#E#(2, 6).div(2d, 2.5);
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 3);
	}

	@Test
	public void test#ES#ComponentsDivision() {
		Vector2#E# vector = new Vector2#E#(2, 7).div((#e#) 2, (#e#) 3);
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 2);
	}

	@Test
	public void testVector2DotProduct() {
		#e# f = new Vector2#E#(2, 3).dot(new Vector2#E#(4, 5));
		TestUtil#E#.assertEquals(f, (#e#) 23);
	}

	@Test
	public void testDoubleComponentsDotProduct() {
		#e# f = new Vector2#E#(2, 3).dot(4d, 5d);
		TestUtil#E#.assertEquals(f, (#e#) 23);
	}

	@Test
	public void test#ES#ComponentsDotProduct() {
		#e# f = new Vector2#E#(2, 3).dot(4, 5);
		TestUtil#E#.assertEquals(f, (#e#) 23);
	}

	@Test
	public void testRaiseTo#ES#Power() {
		Vector2#E# vector = new Vector2#E#(2, 6).pow((#e#) 2);
		TestUtil#E#.assertEquals(vector, (#e#) 4, (#e#) 36);
	}

	@Test
	public void testRaiseToDoublePower() {
		Vector2#E# vector = new Vector2#E#(2, 6).pow(2d);
		TestUtil#E#.assertEquals(vector, (#e#) 4, (#e#) 36);
	}

	@Test
	public void testAbsolute() {
		Vector2#E# vector1 = new Vector2#E#(-2, -6).abs();
		TestUtil#E#.assertEquals(vector1, (#e#) 2, (#e#) 6);
		Vector2#E# vector2 = new Vector2#E#(2, 6).abs();
		TestUtil#E#.assertEquals(vector2, (#e#) 2, (#e#) 6);
	}

	@Test
	public void testNegate() {
		Vector2#E# vector = new Vector2#E#(2, -6).negate();
		TestUtil#E#.assertEquals(vector, (#e#) -2, (#e#) 6);
	}

	@Test
	public void testVector2Minimum() {
		Vector2#E# vector = new Vector2#E#(2, 6).min(new Vector2#E#(3, 4));
		TestUtil#E#.assertEquals(vector, (#e#) 2, (#e#) 4);
	}

	@Test
	public void testDoubleComponentsMinimum() {
		Vector2#E# vector = new Vector2#E#(2, 6).min(3d, 4d);
		TestUtil#E#.assertEquals(vector, (#e#) 2, (#e#) 4);
	}

	@Test
	public void test#ES#ComponentsMinimum() {
		Vector2#E# vector = new Vector2#E#(2, 6).min((#e#) 3, (#e#) 4);
		TestUtil#E#.assertEquals(vector, (#e#) 2, (#e#) 4);
	}

	@Test
	public void testVector2Maximum() {
		Vector2#E# vector = new Vector2#E#(2, 6).max(new Vector2#E#(3, 4));
		TestUtil#E#.assertEquals(vector, (#e#) 3, (#e#) 6);
	}

	@Test
	public void testDoubleComponentsMaximum() {
		Vector2#E# vector = new Vector2#E#(2, 6).max(3d, 4d);
		TestUtil#E#.assertEquals(vector, (#e#) 3, (#e#) 6);
	}

	@Test
	public void test#ES#ComponentsMaximum() {
		Vector2#E# vector = new Vector2#E#(2, 6).max((#e#) 3, (#e#) 4);
		TestUtil#E#.assertEquals(vector, (#e#) 3, (#e#) 6);
	}

	@Test
	public void testVector2DistanceSquared() {
		#e# f = new Vector2#E#(2, 3).distanceSquared(new Vector2#E#(4, 5));
		TestUtil#E#.assertEquals(f, (#e#) 8);
	}

	@Test
	public void testDoubleComponentsDistanceSquared() {
		#e# f = new Vector2#E#(2, 3).distanceSquared(4d, 5d);
		TestUtil#E#.assertEquals(f, (#e#) 8);
	}

	@Test
	public void test#ES#ComponentsDistanceSquared() {
		#e# f = new Vector2#E#(2, 3).distanceSquared((#e#) 4, (#e#) 5);
		TestUtil#E#.assertEquals(f, (#e#) 8);
	}

	@Test
	public void testVector2Distance() {
		#e# f = new Vector2#E#(4, 6).distance(new Vector2#E#(7, 2));
		TestUtil#E#.assertEquals(f, (#e#) 5);
	}

	@Test
	public void testDoubleComponentsDistance() {
		#e# f = new Vector2#E#(4, 6).distance(7d, 2d);
		TestUtil#E#.assertEquals(f, (#e#) 5);
	}

	@Test
	public void test#ES#ComponentsDistance() {
		#e# f = new Vector2#E#(4, 6).distance((#e#) 7, (#e#) 2);
		TestUtil#E#.assertEquals(f, (#e#) 5);
	}

	@Test
	public void testLength() {
		#e# f = new Vector2#E#(3, 4).length();
		TestUtil#E#.assertEquals(f, (#e#) 5);
	}

	@Test
	public void testLengthSquared() {
		#e# f = new Vector2#E#(3, 4).lengthSquared();
		TestUtil#E#.assertEquals(f, (#e#) 25);
	}

	@Test
	public void testGetMinAxis() {
		Vector2#E# vector1 = new Vector2#E#(1, 2);
		TestUtili.assertEquals(vector1.getMinAxis(), 0);
		Vector2#E# vector2 = new Vector2#E#(2, 1);
		TestUtili.assertEquals(vector2.getMinAxis(), 1);
	}

	@Test
	public void testGetMaxAxis() {
		Vector2#E# vector1 = new Vector2#E#(2, 1);
		TestUtili.assertEquals(vector1.getMaxAxis(), 0);
		Vector2#E# vector2 = new Vector2#E#(1, 2);
		TestUtili.assertEquals(vector2.getMaxAxis(), 1);
	}

	@Test
	public void testConvertToVector3DefaultZ() {
		Vector3#E# vector = new Vector2#E#(1, 2).toVector3();
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 2, (#e#) 0);
	}

	@Test
	public void testConvertToVector3#ES#Z() {
		Vector3#E# vector = new Vector2#E#(1, 2).toVector3((#e#) 3);
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 2, (#e#) 3);
	}

	@Test
	public void testConvertToVector3DoubleZ() {
		Vector3#E# vector = new Vector2#E#(1, 2).toVector3(3d);
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 2, (#e#) 3);
	}

	@Test
	public void testConvertToVector4DefaultZW() {
		Vector4#E# vector = new Vector2#E#(1, 2).toVector4();
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 2, (#e#) 0, (#e#) 0);
	}

	@Test
	public void testConvertToVector4#ES#ZW() {
		Vector4#E# vector = new Vector2#E#(1, 2).toVector4((#e#) 3, (#e#) 4);
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 2, (#e#) 3, (#e#) 4);
	}

	@Test
	public void testConvertToVector4DoubleZW() {
		Vector4#E# vector = new Vector2#E#(1, 2).toVector4(3d, 4d);
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 2, (#e#) 3, (#e#) 4);
	}

	@Test
	public void testConvertToVectorN() {
		VectorN#E# vector = new Vector2#E#(1, 2).toVectorN();
		TestUtil#E#.assertEquals(vector, (#e#) 1, (#e#) 2);
	}

	@Test
	public void testConvertToArray() {
		#e#[] array = new Vector2#E#(1, 2).toArray();
		TestUtil#E#.assertEquals(array, (#e#) 1, (#e#) 2);
	}

	@Test
	public void testComparison() {
		int c1 = new Vector2#E#(10, 20).compareTo(new Vector2#E#(20, 20));
		Assert.assertTrue(c1 < 0);
		int c2 = new Vector2#E#(10, 20).compareTo(new Vector2#E#(10, 20));
		Assert.assertTrue(c2 == 0);
		int c3 = new Vector2#E#(10, 20).compareTo(new Vector2#E#(10, 10));
		Assert.assertTrue(c3 > 0);
	}

	@Test
	public void testEquals() {
		Assert.assertTrue(new Vector2#E#(122, 43).equals(new Vector2#E#(122, 43)));
		Assert.assertFalse(new Vector2#E#(122, 43).equals(new Vector2#E#(378, 95)));
	}

	@Test
	public void testCloning() {
		Vector2#E# vector = new Vector2#E#(3, 2);
		Assert.assertEquals(vector, vector.clone());
	}
}
